/* popup */
.popup-bottom .leaflet-popup-tip-container {
	display:none;
}
.leaflet-popup-tip-container.toptip {
	display:none;
}
.popup-bottom .leaflet-popup-tip-container.toptip {
	display:block;
}
.popup-bottom .leaflet-popup-tip.toptip {
	margin-top: 10px !important;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: white;

	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}

.leaflet-oldie .leaflet-popup-content-wrapper {
	zoom: 1;
	}
.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto;

	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	}
.leaflet-oldie .leaflet-popup-tip-container {
	margin-top: -1px;
	}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999;
	}


.leaflet-popup-content,
.leaflet-popup-content-wrapper {
	padding: 0px;
	margin: 0px;
	margin-right: -1px;
}

.leaflet-container a.leaflet-popup-close-button {
	z-index:11;
	color:#FFF;
	width: 25px;
	height: 25px;
	font-size: 25px;
	top: 4px;
	right: 4px;
	font-family: 'Avenir W01', 'Avenir', 'Helvetica Neue', 'Helvetica,' Arial, sans-serif;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.popup-bottom a.leaflet-popup-close-button {
	top: 24px;
}
.leaflet-container a.leaflet-popup-close-button:hover {
	color:#FFF;
}
