/* popup */
.popup-bottom .leaflet-popup-tip-container {
	display:none;
}
.leaflet-popup-tip-container.toptip {
	display:none;
}
.popup-bottom .leaflet-popup-tip-container.toptip {
	display:block;
}
.popup-bottom .leaflet-popup-tip.toptip {
	margin-top: 10px !important;
}

.leaflet-popup-content,
.leaflet-popup-content-wrapper {
	padding: 0px;
	margin: 0px;
	margin-right: -1px;
}

.leaflet-container a.leaflet-popup-close-button {
	z-index:11;
	color:#FFF;
	width: 25px;
	height: 25px;
	font-size: 25px;
	top: 4px;
	right: 4px;
	font-family: 'Avenir W01', 'Avenir', 'Helvetica Neue', 'Helvetica,' Arial, sans-serif;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.popup-bottom a.leaflet-popup-close-button {
	top: 24px;
}
.leaflet-container a.leaflet-popup-close-button:hover {
	color:#FFF;
}
